/*
 * written by andrewt@cse.unsw.edu.au September 2015
 * as a starting point for COMP2041/9041 assignment 2
 * http://cgi.cse.unsw.edu.au/~cs2041/assignments/bitter/
 *
 * Change (or replace) the CSS below to create you own look-and-feel
 *
 * You will probably want to add  CSS to this file too
 */

.bitter_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: white;
    font-size-adjust: 2;
}

.bitter_user_logout {
    padding: 1em;
    font-family: sans-serif;
    font-size: x-large;
    font-style: italic;
    color: white;
    /*text-align: center;*/
    padding-left: 60%;
}

.bitter_function_board {
    padding-left: 0%;
}

.bitter_login {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(171, 205, 239, 0.39);
    color: #204142;
    white-space: pre;
    border-radius: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    color: white;
    font-size: larger;
}

.bitter_user_image {
    border-radius: 10em;
    border-style: none;
}
.bitter_small_user_image {
    width: 125px;
    height: 125px;
    border-radius: 10em;
    border-style: none;
}
.bitter_little_user_image {
    width: 60px;
    height: 60px;
    border-radius: 10em;
    border-style: none;
}

.bitter_user_details {
    /*background-color: #0080FF;*/
    color: #204142;
    white-space: pre;
    border-radius: 1em;
    /*padding: 1em;*/
    font-style: italic;
    font-size: x-large;
    font-weight: 600;
    color: white;

}

.bleats_info {
    font-size: large;
    font-style: italic;
    padding-left: 1em;
}

.bleats_text {
    font-size: x-large;
    white-space: normal;
    word-wrap: break-word;
    padding-left: 1em;
}

.bleats_table {
    border-color: rgba(95, 255, 245, 0.37);
    border-style: ridge;
    border-radius: 1em;
    padding: 1em;
    border-width: 3px;
}

.bitter_side_bar {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 7%;
    background-color: rgba(102, 211, 255, 0.5);
    color: #204142;
    white-space: pre;
    /*border:thin solid #204142;*/
    border-radius: 5em;
    /*padding: 1em;*/
    padding-left: 2%;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
    color: white;
    vertical-align: initial;
}

.bitter_user_bleats {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 7%;
    background-color: rgba(102, 211, 255, 0.21);
    color: #204142;
    white-space: pre;
    /*border:thin solid #204142;*/
    border-radius: 3em;
    /*padding: 1em;*/
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4em;
    color: white;
    width: 100%;
    vertical-align: initial
}

.bitter_button {
    margin: 1em;
    background-color: rgb(255, 255, 255, 0);
    border: thin solid rgb(255, 255, 255);
    border-radius: 0.42em;
    color: rgba(67, 98, 173, 0.84);
    font-size: large;
}

.bitter_logout_button {
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.82);
    border: thin solid rgb(255, 255, 255);
    border-radius: 0.42em;
    color: rgba(67, 98, 173, 0.84);
    font-size: large;
}

.bitter_home_button {
    font-size: x-large;
    background: rgba(59, 119, 224, 0) none repeat scroll 0% 0%;
    border-color: rgba(255, 255, 255, 0.61);
    color: white;
}