
.guess_number_info {
    background-color: #ABCDEF;
    color: #204142;
    margin-left: 10em;
    margin-right: 10em;
    border:thin solid #204142;
    border-radius: 10em;
    padding-left: 0.42em;
    padding-top: 1em;
    padding-bottom: 1em;
    text- : center;
    font-size: x-large;
    font-weight: bold;
}

.guess_number_textfield {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border:2px solid #456879;
    border-radius:10em;
    height: 22px;
    width: 230px;
    text-align: center;
}

.guess_number_button {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEDBCA;
    border:thin solid #904142;
    border-radius: 10em;
    color: #904142;
    text-align: center;
    font-size: large;
}